<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
	<li><h2><a class="pure-menu-heading" href="/">Devise Test Site</a></h2></li>
	<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
	<ul class="right">
	  <% if user_signed_in? %>
	  <li class="">Logged in as user <strong><%= current_user.email %></strong>.</li>
	  <li class=""><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
	  <li class=""><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
	  <% elsif admin_signed_in? %>
	  <li class="">Logged in as admin <strong><%= current_admin.email %></strong>.</li>
	  <li class=""><%= link_to 'プロフィール変更', edit_admin_registration_path %></li>
	  <li class=""><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
	  <% else %>
	  <li class=""><%= link_to "User Sinup", new_user_registration_path %></li>
	  <li class=""><%= link_to "User Login", new_user_session_path %></li>
	  <li class=""><%= link_to "Admin Signup", new_admin_registration_path %></li>
	  <li class=""><%= link_to "Admin Login", new_admin_session_path %></li>
	  <li class=""><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
	  <li class=""><%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %></li>
	  <% end %>
	</ul>
      </section>
    </nav>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
